
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
    
}
header{
    background-image: url('../img/background/wall.png');
font-size: 2rem;
font-family: 'Edu TAS Beginner', sans-serif;
text-transform: uppercase; 
text-align: center;

}
body{
    background-image: url('../img/background/cork.png');

}
.container{
    width: 100%
    
}
.container_80{
    width: 80%;
    margin: auto;
}
.cards{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}
.card{
    background-color: white;
    flex-basis:100%;
    padding: 20px;
    box-shadow: 10px 10px 5px hsla(0, 0%, 0%, 0.371);
    transition: transform 0.3s ease
   
}
.container_img{
    display: flex;
    justify-content: center;
}
.img{
    width: 100%;
}
.text{
    margin-top: 20px;
    font-family: "Sometype Mono", serif;
    font-size: 1rem;
}
.card:hover{
    transform: scale(1.1) rotate(10deg);
   
}
@media  screen and (min-width: 768px){
    .card{
        flex-basis: calc(50% - 10px);
    }
}
@media screen and (min-width: 1024px){
    .card{
        flex-basis: calc(33.33% - 20px);
    }
    
}
